@mixin dashboard-progressindicator {
	

.v-progressindicator {
	width: 150px;
}

.v-progressindicator-wrapper {
	height: 24px;
	border: 1px solid #ddd;
}

.v-progressindicator-indicator {
	height: 24px;
	background: #349aff;
}

}